# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
client/coverage

# next.js
client/.next/
client/out/
client/node_modules/

# production
client/build
env
__pycache__
migrations
# misc
client/.DS_Store
*.pem

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# local env files
client/.env*.local

# vercel
client/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
